
h1 {
	font-size: 34pt;
}

h4 {
	margin-bottom: 2px;
}

.weathertable-container {
	max-width: 100%;
	overflow: scroll;
	overflow-y: hidden; /*prevent vertical scrollbar from appearing*/
}

.weathertable {
	display: table;
	table-layout: fixed;
}

.weathercell {
	min-width: 11em;
	display: table-cell;
}

.weathercell.daily {
	min-width: 20em;
}

.weathercell .wi {
	font-size: 35px;
	margin-top:8px;
	margin-bottom:7px;
	}

.weathercell .time {
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

.weathercell .summary {
	text-align: center;
	}

.panel {
	margin-left:5px;
	margin-right:5px;
	margin-top:25px;
}


.icon{
	font-size: 55px;
	margin-top:5px;
}

.cityName,.icon, .summary, .cityTime {
	margin-left:30px;
}
